<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kafka Web Traffic Generator</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        .container-full-screen {
            margin: 0 auto;
            width: 100%;
        }
    </style>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-full-screen">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0);" class="navbar-brand">Heroku</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Postgres" asp-action="Index">Kafka Web Traffic Generator</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-full-screen body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - david@heroku.com</p>
        </footer>
    </div>
    <div id="spinner" style="display:block;"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#spinner').hide();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
